header{
    background-color: black;
    font-size: 25px;
    color: red;

}

h1{
    font-weight: bolder;
    color: red;
}

h2{
    font-weight: bold;
    color: red;
}


nav{
    color: black;
    font-family: sans-serif;
    background-color: black
    border-bottom: 2px solid black

}


a:hover{
color: red;
}

body{
  background-color: black;
  color: red;
}

table{
  background-color: grey;
}

.button{
    color: white;
    border: none;
    padding: 5px;
    font-family: sans-serif
    font-weight: bold;
}

.colTitles{
    font-weight: bold;
    color: gold;
}

#allParas{
  font-family: sans-serif;
  color: white;
}
